*{
    margin: 0;
    padding: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.my-3{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mb-3{
    margin-bottom: 24px;
}

.d-flex{
    display: flex;
}

.container{
    max-width: 640px;
    margin: 0 auto;
}

.list-item{
    display: flex;
}

.list-item img{
    display: block;
    margin-right: 20px;
}

.content-ad img{
    display: block;
}

.list-item-text h2{
    font-size: 20px;
    line-height: 1.2;
}

.list-item-text p{
    line-height: 1.5;
} 


.footer{
    padding: 48px 0;
}

.footer p{
    text-align: center;
    line-height: 1.5;
}